<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datacenter.github.mapper.GithubRepoBaseInfoMapper">

    <resultMap id="BaseResultMap" type="com.datacenter.github.entity.GithubRepoBaseInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="githubRepoId" column="github_repo_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="fork" column="fork" jdbcType="INTEGER"/>
            <result property="stars" column="stars" jdbcType="INTEGER"/>
            <result property="issues" column="issues" jdbcType="INTEGER"/>
            <result property="pullRequests" column="pull_requests" jdbcType="INTEGER"/>
            <result property="discussions" column="discussions" jdbcType="INTEGER"/>
            <result property="about" column="about" jdbcType="VARCHAR"/>
            <result property="website" column="website" jdbcType="VARCHAR"/>
            <result property="languagesJson" column="languages_json" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,github_repo_id,name,
        fork,stars,issues,
        pull_requests,discussions,about,
        website,languages_json,
        create_time,update_time
    </sql>
</mapper>
